/* Parent */
.menu {
    font-size: 50px;
  }
  
/* Child */
.menu-item {
font-size: 0.8em;
padding-left: 12px;
}

/* home 0.8*50px = 40px
about 0.8*50px = 40px
projects 0.8*40px = 32px
Professional Projects 0.8*32px = 25.6
Hobby Projects 0.8*32px = 25.6
.......
...... */